body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  color: rgb(68, 67, 67);
}
.wrap {
  background: #eee;
  width: 98%;
  margin: 0 auto;
  border-radius: 0.3em;
  padding-top: 2em;
  margin-top: 1.5em;
}
#header {
  text-align: center;
  /* padding-top: 2em; */
}
#img-div {
  background: #fff;
  width: 97%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3em;
  padding-bottom: 0.5em;
}
#image {
  width: 80%;
  /* text-align: center; */
  margin: 0 auto;
}
.wrap-info {
  width: 50%;
  margin: 0 auto;
  /* line-height: 2; */
}
#tribute-info {
  text-align: center;
}
#tribute-info_year{
 margin-left: -1.5em;
 text-align: left;
}
li {
padding-top: 1em;
}
#quote{
 padding-top: 2em;
}
article{
 text-align: center;
 font-size: larger;
}
article h4{
 padding-top: 2em;
 padding-bottom: 2em;
}
#tribute-link{
color: rgba(0, 0, 255, 0.527);
}